{% extends "layout.html" %} {% block content %}

<!-- Barre de navigation secondaire -->
<nav class="nav nav-pills flex-column flex-sm-row your_nav_class">
    <a class="flex-sm-fill text-sm-center nav-link active" href="#">Général</a>
    <a class="flex-sm-fill text-sm-center nav-link " href="#">Par plante</a>
</nav>

<h1>Historique général</h1>


<table class="table table-dark table-hover">
    <thead class="table-light">
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Plante</th>
        <th scope="col">Humidité</th>
    </tr>
    </thead>
    <tbody>

<!-- Rendre cette section dynamique   --> 
<!-- En ce moment c'est juste pour l'exemple --> 

    <tr>
        <th scope="row">12/12/12 13:32</th>
        <td>Dracanea</td>
        <td>32</td>
    </tr>
    <tr>
        <th scope="row">12/12/12 13:32</th>
        <td>Pilea</td>
        <td>32</td>
    </tr>
    <tr>
        <th scope="row">12/12/12 13:32</th>
        <td>Dieffenbachia</td>
        <td>32</td>
    </tr>
    <tr>
        <th scope="row">12/12/12 13:32</th>
        <td>Dracanea</td>
        <td>32</td>
    </tr>
    <tr>
        <th scope="row">12/12/12 13:32</th>
        <td>Pilea</td>
        <td>32</td>
    </tr>
    <tr>
        <th scope="row">12/12/12 13:32</th>
        <td>Dieffenbachia</td>
        <td>32</td>
    </tr>
    </tbody>
</table>


{% endblock %}