{% extends "layout.html" %} {% block content %}
<div class="flex-container">
    <div class="plante">
        <div class="gauge" id="g1">Humidité
            <div class="gauge__body">
                <div class="gauge__fill"></div>
                <div class="gauge__cover"></div>
            </div>
        </div>
        <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/plante/1"> Plante 1 </a>
    </div>
    <div class="plante">
        <div class="gauge" id="g2">Humidité
            <div class="gauge__body">
                <div class="gauge__fill"></div>
                <div class="gauge__cover"></div>
            </div>
        </div>
        <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/plante/2"> Plante 2 </a>
    </div>
    <div class="plante">
        <div class="gauge" id="g3">Humidité
            <div class="gauge__body">
                <div class="gauge__fill"></div>
                <div class="gauge__cover"></div>
            </div>
        </div>
        <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/plante/3"> Plante 3 </a>
    </div>
    <div class="plante">
        <div class="gauge" id="g4">Humidité
            <div class="gauge__body">
                <div class="gauge__fill"></div>
                <div class="gauge__cover"></div>
            </div>
        </div>
        <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/plante/4"> Plante 4 </a>
    </div>
    <a class="btn btn-primary btn-lg historique" href="http://127.0.0.1:5000/historique"> Historique </a>
</div>

<script type="text/javascript">
    const gaugeElement1 = document.getElementById("g1");
    const gaugeElement2 = document.getElementById("g2");
    const gaugeElement3 = document.getElementById("g3");
    const gaugeElement4 = document.getElementById("g4");

    function setGaugeValue(gauge, value) {
        if (value < 0 || value > 1) {
            return;
        }

        gauge.querySelector(".gauge__fill").style.transform = `rotate(${
    value / 2
  }turn)`;
        gauge.querySelector(".gauge__cover").textContent = `${Math.round(
    value * 100
  )}%`;
    }
    var value1 = {{ humidite1 }}
    var value2 = {{ humidite2 }}
    var value3 = {{ humidite3 }}
    var value4 = {{ humidite4 }}


    var Pourcentage_value1 = value1 / 100
    var Pourcentage_value2 = value2 / 100
    var Pourcentage_value3 = value3 / 100
    var Pourcentage_value4 = value4 / 100
    setGaugeValue(gaugeElement1, Pourcentage_value1);
    setGaugeValue(gaugeElement2, Pourcentage_value2);
    setGaugeValue(gaugeElement3, Pourcentage_value3);
    setGaugeValue(gaugeElement4, Pourcentage_value4);
</script>

{% endblock %}