<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- INTÉGRATION BOOTSTRAP, FONT ET API -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
</head>

<!-- Barre de navigation primaire -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:5000">
            <img src="{{url_for('static', filename='images/cactus.png')}}" alt="" width="30" height="24" class="d-inline-block align-text-top"> Serre intelligente
        </a>
        <a class="currentLocation"></a>
        <a id="horloge"></a>
    </div>
</nav>


<body>
    {% block content %}{% endblock %}
</body>


<!-- SECTION SCRIPT GÉNÉRAL -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


<script type="text/javascript">
    window.onload = function() {
        horloge('horloge');
    };

    function horloge(el) {
        if (typeof el == "string") {
            el = document.getElementById(el);
        }

        function actualiser() {
            var date = new Date();
            var str = date.getHours();
            str += ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
            str += ':' + (date.getSeconds() < 10 ? '0' : '') + date.getSeconds();
            el.innerHTML = str;
        }
        actualiser();
        setInterval(actualiser, 1000);
    }

    $(document).ready(function() {

	var getIP = 'http://ip-api.com/json/',
		openWeatherMap = 'http://api.openweathermap.org/data/2.5/weather',
		APPID = 'f1e90fdfb9e70effae2dbdb1ecddf0bd';

	$.getJSON(getIP).done(function(location) {

	$.getJSON(openWeatherMap, {
			lat: location.lat,
			lon: location.lon,
			APPID: APPID
		})
		.done(function(weather) {

			var celsius = weather.main.temp - 273.15;

			$('.currentLocation').text('Bonjour! Votre emplacement actuelle est ' + location.city + ', ' + location.region + ', ' + location.country +',' + ' La température actuelle est ' + celsius.toFixed(0) + ' degrees Celsius.');

		});
	});
});
</script>

</html>