<!-- Template pour page individuelle -->

{% extends "layout.html" %} {% block content %}


<h1>{{ nom }}</h1>
<img class='imagePlante' src="{{url_for('static', filename='images/Icone_Normal_2.png')}}" alt="icone_normal_1" width="400">

<div class="boutonsPlante">
    <a class="btn btn-primary" id="OnOff" href="http://127.0.0.1:5000/arduino/cmd/{{ plant_id }}"></a>
    <button type="button" class="btn btn-danger">Stop arrosage</button>
    <button type="button" class="btn btn-success">Mode automatique</button>
</div>

<div id="chart_div" style="width: 400px; height: 120px;"></div>
<div id="curve_graphe" style="width: 800px; height: 00px"></div>


<!-- SECTION SCRIPT -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    let btn = document.getElementById("OnOff")
    let etat = {{ etat_pompe }}

    function changecolor(){
        if (etat == 1){
            btn.innerHTML = "Arreter" 

        } else {
         btn.innerHTML = "Arroser"
        }
    }

    changecolor()


    google.charts.load('current', {
        'packages': ['gauge']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['Humidité', {{ humidite }}],
            ['Température', {{ temperature }}],
        ]);

        var options = {
            width: 400,
            height: 120,
            redFrom: 90,
            redTo: 100,
            yellowFrom: 75,
            yellowTo: 90,
            minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
        chart.draw(data, options);



        setInterval(function() {
            data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
            chart.draw(data, options);
        }, 13000);
        setInterval(function() {
            data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
            chart.draw(data, options);
        }, 5000);
        setInterval(function() {
            data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
            chart.draw(data, options);
        }, 26000);
    }
</script>

<!-- Script pour diagram temps & humidité -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        // Set Data
        var data = google.visualization.arrayToDataTable([
            ['date', 'humidité'],
            [4, 7],
            [6, 8],
            [8, 8],
            [9, 9],
            [11, 9],
            [13, 9],
            [15, 10],
            [17, 11],
            [19, 14],
            [21, 14],
            [23, 15]
        ]);
        // Set Options
        var options = {
            /*             title: 'Humidité', */
            hAxis: {
                title: '20 derniers jours'
            },
            vAxis: {
                title: 'Humidité'
            },
            curveType: 'function',
            legend: 'none',
            lineWidth: 9,
            colors: ['#a52714'],
            backgroundColor: {
                fill: 'transparent'
            },

        };
        // Draw Chart
        var chart = new google.visualization.LineChart(document.getElementById('curve_graphe'));
        chart.draw(data, options);
    }
</script>



{% endblock %}